<div class="container">
  <div class="row">
    <div class="col">
      <h1>fav_resto_map</h1>
      <%=link_to"ユーザー登録して始める", new_user_registration_path, class:"btn btn-success" %><br>
      <%=link_to"ユーザーの方はこちら", new_user_session_path %>

    </div>
  </div>
</div>