@use '~bootstrap/scss/bootstrap';
@import 'member/bookmark.scss';
@import 'member/favorites.scss';
@import 'member/homes.scss';
@import 'member/post_comments.scss';
@import 'member/posts.scss';
@import 'member/relationships.scss';
@import 'member/searches.scss';
@import 'member/users.scss';
@import 'admin/homes.scss';
@import 'admin/users.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sign_up,.log_in{
  margin: 100px 0 0 300px;

}