// Place all the styles related to the member/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post-solid{
  display:block;
  height:3px;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);;
}

.post-card{
  border: ridge 10px #8ec6ff;;
  margin : 20px;
}
.icon{
  text-align: left;
  padding-left: 30px;
}
.modal-user{
}