// Place all the styles related to the member/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map {
        height: 580px;
        width: 100%;
      }

h1 {
  text-align: center;
}

.wrap {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 50%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: rgb(115,88,4);
  border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background: orange;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 15px 15px 250px 15px;

  background: orange;
  border: 1px solid #000;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}

.user-cog {
  padding: 10px 150px;
}

